# Will tell other users of the project which package manager is used
engine-strict=true
legacy-peer-deps=true

# Serino Verdaccio
# registry=http://miniapp.serino.com:4873 

# Local verdaccio
# registry=http://localhost:4873